<div class="col-xs-12">
	<form action="/save-message" method="POST">
		<div class="form-group">
			<label for="note-content">Treść notatki</label>
			<textarea required="required"  
				name="noteContent"
				class="form-control" 
				id="note-content" 
				rows="10" placeholder="Wpisz treść"></textarea>
		</div>
		<div class="form-group text-right">
			<button type="submit" class="btn btn-success">
				Zapisz
			</button>
		</div>
	</form>
</div>
