<!DOCTYPE html>
<html>
<head>
	<title><%= (typeof pageTitle != 'undefined') ? pageTitle : 'Index' %> - Node Basics</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body class="container">
<% include ./menu %>
<div class="row">
	<div class="col-xs-12">
		<% flash.forEach(function(message) { %>
			<div class="alert alert-<%= message.type %>">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<%= message.message %>
			</div>
		<% }); %>
	</div>
</div>