<div class="row"> 
	<div class="col-md-8 col-md-offset-2">
		<h1>Logowanie</h1>
		<form method="POST" action="/logowanie" class="form">
		<div class="form-group">
			<label for="email" class="control-label">E-mail</label>
			<input type="email" name="email" id="email" class="form-control">
		</div>
		<div class="form-group">
			<label for="password" class="control-label">Hasło</label>
			<input type="password" name="password" id="password" class="form-control">
		</div>
		<div class="form-group">
			<input type="submit" value="Zaloguj się" class="btn btn-primary btn-block">
		</div>
		</form>
	</div>
</div>