<div class="col-md-8 col-md-offset-2 memo" data-id="<%= msg.id %>">
	<div class="panel panel-success">
		<div class="panel-heading memo-heading">
			<%= msg.user.name %>
			<span class="pull-right">
				<%= msg.updated_at.toLocaleString('pl-PL') %>		
			</span>
		</div>
		<div class="panel-body text-justify memo-content">
			<%= msg.content %>
		</div>
		<div class="panel-footer text-right memo-footer">
			<% if (user.id == msg.user.id) { %>
				<a href="#" data-target="<%= msg._id %>" class="btn btn-danger btn-sm btn-memo-delete">Usuń</a>
				<a href="/note/<%= msg._id %>" class="btn btn-info btn-sm btn-memo-edit">Edycja</a>
			<% } %>
		</div>
	</div>
</div>