<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">SuperMemo</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a href="/">Tablica</a>
        </li>
      </ul>

      <form class="navbar-form navbar-left" method="GET" action="/">
        <div class="form-group">
          <input type="text" class="form-control" name="query" 
          placeholder="Szukaj treści" required="">
        </div>
        <button type="submit" class="btn btn-default">Szukaj</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <% if (!user) { %>
        <li>
          <a href="/rejestracja"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Logowanie/Rejestracja</a>
        </li>
        <% } else { %>
        <li>
          <a href="/profile"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Profil</a>
        </li>
        <li>
          <a href="/wyloguj"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Wyloguj</a>
        </li>
        <% } %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>