<div class="row"> 
	<div class="col-md-8 col-md-offset-2">
		<h1>Rejestracja</h1>
		<form method="POST" action="/rejestracja" class="form">
		<div class="form-group">
			<label for="email" class="control-label">E-mail</label>
			<input type="email" name="email" id="email" class="form-control">
		</div>
		<div class="form-group">
			<label for="fullname" class="control-label">Nazwa</label>
			<input type="text" name="fullname" id="fullname" class="form-control">
		</div>
		<div class="form-group">
			<label for="password" class="control-label">Hasło</label>
			<input type="password" name="password" id="password" class="form-control">
		</div>
		<div class="form-group">
			<label for="re_password" class="control-label">Hasło ponownie</label>
			<input type="password" name="re_password" id="re_password" class="form-control">
		</div>
		<div class="form-group">
			<input type="submit" value="Rejestracja" class="btn btn-success btn-block">
		</div>
		</form>
	</div>
</div>