<% include ./partials/header %>
<div class="row">
	<div class="col-xs-12" id="registered-users">
		<div class="panel panel-info">
		  <!-- Default panel contents -->
		  <div class="panel-heading">Użytkownicy</div>
		  <div class="panel-body">
		    <p>Lista zarejestrowanych userów</p>
		  </div>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Username</th>
					<th>E-mail</th>
					<th>Created At</th>
				</tr>
			</thead>
			<tbody>
				<% users.forEach(function(usr) { %>
					<tr>
						<td><%= usr.name %></td>
						<td><%= usr.email %></td>
						<td><%= usr.created_at.toLocaleString('pl-PL') %></td>
					</tr>
				<% }); %>
			</tbody>
		</table>
		</div>
	</div>
</div>
<% include ./partials/footer %>