<% include ./partials/header %>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h1>Lista wiadomości</h1>
	</div>
</div>
<div class="row">
	<% if (user) { %>
		<% include ./partials/form %>

		<% messages.forEach(function(msg){ %>
			<%- include('./partials/memo', {msg: msg}); %>
		<% }); %>

	<% } %>
</div>
<script type="text/javascript"></script>
<% include ./partials/footer %>
