<% include ./partials/header %>
<div class="row">
	<div class="col-xs-12 col-md-8 col-md-offset-2">
		<h1>Person: <%= personID %></h1>
		<p>Query String: <%= Qstr %></p>
	</div>
</div>
<% include ./partials/footer %>