<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" 
	type="text/css" 
	href="/assets/css/style.css">
	<title>First EJS Template</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<script type="text/javascript" 
		src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body class="container">
	<div class="row">
		<div class="col-xs-12">
			<div class="well well-lg">
				<h1>Dzięki za rejestracje</h1>
				<h2>Twoje dane:</h2>
				<p>Login: <%= login %></p>
				<p>Hasło: <%= passwd %></p>
				<p>Nazwa wyświetlana: <%= name %></p>
				<h2>GL HF :)</h2>
			</div>
		</div>
	</div>
</body>
</html>