<% include ./partials/header %>
<div class="row"> 
	<div class="col-xs-12">
		<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active">
				<a href="#login" aria-controls="login" role="tab" data-toggle="tab">Login</a>
			</li>
			<li role="presentation">
				<a href="#register" aria-controls="register" role="tab" data-toggle="tab">Register</a>
			</li>
		</ul>
		<!-- Tab panes -->
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="login">
				<% include ./partials/logowanie-form %>
			</div>
			<div role="tabpanel" class="tab-pane" id="register">
				<% include ./partials/rejestracja-form %>
			</div>
		</div>
	</div>
</div>
<% include ./partials/footer %>