<% include ../partials/header %>
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Edycja profilu</h3>
	</div>
	<div class="panel-body">
		<form action="" method="POST" role="form">
			<legend>Edycja</legend>	
			<div class="form-group">
				<label for="name" class="control-label">Nazwa wyświetlana</label>
				<!-- W POLU VALUE WPISZ OBECNĄ NAZWĘ WYŚWIETLANĄ USERA -->
				<input type="text" name="name" id="name" required="" class="form-control" value="">
			</div>
			<div class="form-group text-right">
				<a href="/" class="btn btn-default">Anuluj</a>
				<button type="submit" class="btn btn-primary">Zapisz</button>
			</div>
		</form>
	</div>
</div>
<% include ../partials/footer %>