<% include ../partials/header %>
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Edycja notatki</h3>
	</div>
	<div class="panel-body">
		<form action="" method="POST" role="form">
			<legend>Edycja</legend>	
			<div class="form-group">
				<label for="content">Nowa treść notatki</label>
				<textarea required name="content" id="content" cols="30" rows="10" class="form-control"><%= message.content %></textarea>
			</div>	
			<div class="form-group text-right">
				<input type="hidden" name="id" id="inputId" class="form-control" value="<%= message._id %>">
				<a href="/" class="btn btn-default">Anuluj</a>
				<button type="submit" class="btn btn-primary">Zapisz</button>
			</div>
		</form>
	</div>
</div>
<% include ../partials/footer %>